# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [1]:
# 記得先 Import 正確的套件


import pandas as pd

In [48]:
## array
y = [[30,21]]
x = pd.DataFrame(y, columns = ["Apples","Bananas"])
print(x)

## dictionary
y =  [30]
x =  [21]
u = {'Apples':y, 'Bananas':x}
z = pd.DataFrame(u)
print(z)

## array
y = [[35,21],[41,34]]
x = pd.DataFrame(y, columns = ["Apples","Bananas"],index = ['2017 Sales','2018 Sales'])
x = pd.DataFrame(y, ['2017 Sales','2018 Sales'],["Apples","Bananas"])

print(x)

## dictionary index 設定似乎有困難
apple = [35,41]
banana = [41,34]
x = pd.DataFrame({'Apples':apple,'Bananas':banana})
print(x)

   Apples  Bananas
0      30       21
   Apples  Bananas
0      30       21
            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34
   Apples  Bananas
0      35       41
1      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [53]:
# dictionary
x = ['Austin','Dallas','Austin','Dallas']
y = [139,237,326,456]
z = ['Sun', 'Sun', 'Mon', 'Mon']
t = pd.DataFrame({'city':x, 'visitor':y,'weekday':z})
print(t)

# array
x = [['Austin','139','Sun'],['Dallas','237','Sun']]
y = pd.DataFrame(x, columns=['city','visitor','weekday'])
print(y)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon
     city visitor weekday
0  Austin     139     Sun
1  Dallas     237     Sun

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [54]:
x = ['Austin','Dallas','Austin','Dallas']
y = [139,237,326,456]
z = ['Sun', 'Sun', 'Mon', 'Mon']
t = pd.DataFrame({'city':x, 'visitor':y,'weekday':z})
print(t)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

In [57]:
for i in set(t['weekday']):
    print(i,t[t['weekday'] == i]['visitor'].mean())

Mon 391.0
Sun 188.0