# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [4]:
import numpy as np
import pandas as pd

'選取 2013-01-01 這筆資料的 column A 數值'
'選取 2013-01-01 這筆資料的 column A 和 B series'
'選取 2013-01-01 到 2013-01-02 這兩筆資料的 column A series'
'選取 2013-01-01 到 2013-01-05 這五筆資料的 column A 到 C dataframe'

'選取 2013-01-01 到 2013-01-05 這五筆資料的 column A 到 C'

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [5]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [31]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df)
print('====')
print(df[0:3])
print('====')
print(df[1::2])
print('====')
print(df.iloc[:,-2:])
print('====')
print(df.iloc[:,0::2])

       col1      col2      col3
0 -0.621600  0.037938  0.018863
1  0.847821  0.200247 -0.379530
2  0.501069 -0.127451 -0.338325
3 -0.546590  0.448505 -0.351642
4  0.413968  0.353517  1.609710
5 -0.075722 -0.179240 -1.240959
====
       col1      col2      col3
0 -0.621600  0.037938  0.018863
1  0.847821  0.200247 -0.379530
2  0.501069 -0.127451 -0.338325
====
       col1      col2      col3
1  0.847821  0.200247 -0.379530
3 -0.546590  0.448505 -0.351642
5 -0.075722 -0.179240 -1.240959
====
       col2      col3
0  0.037938  0.018863
1  0.200247 -0.379530
2 -0.127451 -0.338325
3  0.448505 -0.351642
4  0.353517  1.609710
5 -0.179240 -1.240959
====
       col1      col3
0 -0.621600  0.018863
1  0.847821 -0.379530
2  0.501069 -0.338325
3 -0.546590 -0.351642
4  0.413968  1.609710
5 -0.075722 -1.240959

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [41]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df)
print("=====")
x = df[df[0]>20]
print(x)
print("=====")
y = df[df[0] + df[1]>50]
print(y)
print("=====")
z = df[(df[0]<30) | (df[1]>30) ]
print("====")
u = df[df.sum(axis=1)>100]

     0   1   2   3
0   20  11  16  20
1   17  24  15  38
2   36  22  34  31
3   10  32  12  22
4   38  15  34  16
5   32  30  23  19
6   11  23  11  31
7   32  19  18  23
8   15  21  16  38
9   29  24  39  30
10  16  26  11  34
11  17  19  23  10
12  34  20  25  32
13  18  13  11  18
14  20  39  20  23
=====
     0   1   2   3
2   36  22  34  31
4   38  15  34  16
5   32  30  23  19
7   32  19  18  23
9   29  24  39  30
12  34  20  25  32
=====
     0   1   2   3
2   36  22  34  31
4   38  15  34  16
5   32  30  23  19
7   32  19  18  23
9   29  24  39  30
12  34  20  25  32
14  20  39  20  23
=====
====

In [6]:
'''
Your Code
'''

     0   1   2   3
0   24  32  33  17
1   37  32  26  15
3   34  30  27  24
4   34  20  38  27
6   39  35  38  24
7   35  19  37  12
8   16  17  37  32
9   38  38  38  17
11  25  35  27  22
12  33  20  15  37