# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

In [3]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [74]:
#- 計算每個不同種類 animal 的 age 的平均數
cat = df.iloc[[0,1,5,7],[1]]
snake = df.iloc[[2,6],[1]]
dog = df.iloc[[3,8,9],[1]]
print(cat.mean())
print(snake.mean())
print(dog.mean())
#- 計算每個不同種類 animal 的 age 的平均數

age    2.5
dtype: float64
age    2.5
dtype: float64
age    5.0
dtype: float64

In [104]:
#- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
x = df.sort_values(by=['age','visits'])
print(x)
print('====')

# yes 和 no 字串，換成是布林值 的 True 和 False
y = df.priority.str.replace('no','False')
z = df.priority.str.replace('yes','True')

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
j    dog  3.0       1       no
b    cat  3.0       3      yes
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes
====
a    True
b    True
c      no
d    True
e      no
f      no
g      no
h    True
i      no
j      no
Name: priority, dtype: object

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [123]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.797273  0.214258  0.476101
1  0.096446  0.594158  0.996152
2  0.425113  0.337047  0.789115
3  0.263225  0.608534  0.669056
4  0.074953  0.868234  0.963337

In [115]:
df - df.mean()

          0         1         2
0 -0.165382  0.013084  0.078466
1  0.070028  0.533734  0.150338
2 -0.026595  0.145546  0.183029
3  0.133872 -0.291788 -0.030335
4 -0.011923 -0.400576 -0.381498

In [118]:
df.sub(df.mean(axis=1),axis=0)

          0         1         2
0 -0.279366  0.028873  0.250493
1 -0.319933  0.273546  0.046388
2 -0.265850  0.036064  0.229785
3  0.058028 -0.237859  0.179831
4  0.114148 -0.144732  0.030584

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [120]:
df

          0         1         2
0  0.110808  0.419047  0.640667
1  0.346218  0.939698  0.712539
2  0.249595  0.551509  0.745230
3  0.410062  0.114175  0.531866
4  0.264267  0.005387  0.180703

In [122]:
df.sum(axis=1).agrmax()

AttributeError: 'Series' object has no attribute 'agrmax'

In [124]:
df.sum(aix=0).agrmax()

TypeError: sum() got an unexpected keyword argument 'aix'