# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [18]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print('====')
print(df2)

    fruit  weight  price
0   apple    high      6
1  banana  medium      6
2  orange     low      6
3   apple    high      9
4  banana  medium     10
5  orange     low      4
6   apple    high     11
7  banana  medium      2
8  orange     low      6
====
    fruit weight  price
0   apple   high      4
1  orange    low      9
2    pine   high     12
3   apple    low      4
4  orange   high      7
5    pine    low     14

In [19]:
# - 依照 fruit 欄位做合併

pd.merge(df1,df2,on = 'fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high        6     high        4
1    apple     high        6      low        4
2    apple     high        9     high        4
3    apple     high        9      low        4
4    apple     high       11     high        4
5    apple     high       11      low        4
6   orange      low        6      low        9
7   orange      low        6     high        7
8   orange      low        4      low        9
9   orange      low        4     high        7
10  orange      low        6      low        9
11  orange      low        6     high        7

In [20]:
# - 依照 index 索引做合併

df1.set_index('fruit').join(df2.set_index('fruit'))

ValueError: columns overlap but no suffix specified: Index(['weight', 'price'], dtype='object')

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [ ]:
'''
因為merge的規則是留下雙方都有的index，其他都自動刪除，故有些資料不見。另外，因有資料重複的情況發生，則會以排列組合的方式呈現所有可能。
'''

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [ ]:
'''
因為index有重複，故出現錯誤
'''

In [21]:
df1.join(df2, lsuffix='_df1' ,rsuffix='_df2')

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          6     apple       high        4.0
1    banana     medium          6    orange        low        9.0
2    orange        low          6      pine       high       12.0
3     apple       high          9     apple        low        4.0
4    banana     medium         10    orange       high        7.0
5    orange        low          4      pine        low       14.0
6     apple       high         11       NaN        NaN        NaN
7    banana     medium          2       NaN        NaN        NaN
8    orange        low          6       NaN        NaN        NaN